.SignUp {
  width: 500px;
  margin: 0 auto;

  form {
    max-width: 500px;
    margin: 20px auto;

    input {
      background-color: #122;
      border: 1px solid grey;
      border-radius: 6px;
      color: white;

      &:focus {
        outline: none;
      }
    }

    label {
      font-size: 22px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;

    .btn {
      padding: 1rem;
      cursor: pointer;
      border-radius: 6px;
      border: 1px solid #888;
      flex-grow: 1;
      font-size: 24px;
      background-color: #222;
      color: #fff;

      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      transition: 0.2s;

      svg {
        font-size: 30px;
      }

      &:hover {
        color: aqua;
        scale: 1.03;
        box-shadow: rgba(18, 155, 98, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }
    }
  }
}